annotated-types
anyio
click
fastapi
greenlet
h11
idna
joblib
numpy
pandas
psycopg2-binary
pydantic
pydantic_core
PyMySQL
python-dateutil
python-dotenv
pytz
scikit-learn
scipy
six
sniffio
SQLAlchemy
starlette
threadpoolctl
typing_extensions
tzdata
uvicorn
